html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #16161a;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #16161a;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: #16161a;
}

.category-btn:hover {
  background-color: #0e0c0c !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}

a {
  text-decoration: none;
  color: #16161a;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Ensures cards adjust on smaller screens */
  justify-content: center;
  gap: 15px; /* Adds spacing between cards */
}

.card-container .card {
  flex: 0 1 calc(33.333% - 15px); /* 3 cards per row */
  max-width: 320px; /* Set the max width */
}

@media screen and (max-width: 768px) {
  .card-container .card {
    flex: 0 1 calc(50% - 15px); /* 2 cards per row on tablets */
  }
}

@media screen and (max-width: 480px) {
  .card-container .card {
    flex: 0 1 calc(100% - 15px); /* 1 card per row on mobile */
  }
}
